@font-face {
  font-family: myFirstFont;
  src: url(daten/Goca\ logotype\ beta.ttf);
}
h1{
  font-family: myFirstFont;
  color: #88c0d0;
  font-size: 50px;
  @media screen and (max-height: 450px) {
font-size: 20px;
	  }
 
}
h2{
    font-family: myFirstFont;
    color: #88c0d0;
    font-size: 40px;
    @media screen and (max-height: 450px) {
  font-size: 15px;
      }
}
h3{
  color:#2e3440
}
p{
  font-family: Quicksand;
  color:black;
  text-align: center;
  position: relativ;
}

.Wurst{
  position: absolute;
  z-index:  -100;
}
body{
font-family: 'Quicksand', sans-serif;
background: white;
color: #2e3440;

}
.hallo{
  color: gray;
  max-width: 800px;
  }

  .containera {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    max-width: 800px;
    grid-auto-flow: row;
    grid-template-areas:
      "GTW Trompeter MW-MESSNETZ";
  }
  
  .GTW { grid-area: GTW;
    position: relative;
  text-align: center;}
  
  .Trompeter { grid-area: Trompeter;    position: relative;
    text-align: center; }
  
  .MW-MESSNETZ { grid-area: MW-MESSNETZ;    position: relative;
    text-align: center;  }
  
  .Blob{ 


  }
  .Blobtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  Img:hover{
    /* Start the shake animation and make the animation last for 0.5 seconds */
animation: shake 0.5s;

/* When the animation is finished, start again */
animation-iteration-count: infinite;

}
footer{
  background-image:url("daten/Berge.svg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  aspect-ratio: 16/9;
  max-height: 600px;

}
.aurora{
  width: 100vw;
  height: 15vh;
  max-height: 300px;
overflow: hidden;

}
.aurora img{
  width: 150vw;
  aspect-ratio: 16/9;
  max-height: 300px;
  animation: colors ;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}

  .Blobo{ 
    width: 120px;
    height: 120px;
background-image:  url("daten/blob1.svg"); 
background-size: cover;
background-position: center center;
    position: relative;
    }

    .gtwbild{
      width: 100%;
      height: auto;

    }

    .aurora{
      overflow: hidden;
    }

    @keyframes colors {
      from {color: #BF616A;}
      to {color: #B48EAD;}
    }
  
    @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    .fus{
      display:flex;
      align-items: center;
      justify-items: center;
      width: 100vw;
      height: 5vh;
      background-color: #2e3440;
    }
    .fus a{
      color: white;
    }